.__container{
    display: flex;
    flex-direction: row;
    width: 300px;
    height: 300px;
    border: 1px solid black;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin: 50px auto;
    background-color: deepskyblue;
    border-radius: 20px;
}

.input{
    font-size: 20px;
    margin: 10px;
    color: black;

}

.note-form{
    color: red;
}